{%style%}

  .blog-title {
    padding: 0.5rem;
    position: absolute;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(255,255,255, 0.5);
    backdrop-filter: blur(10px);
  }

  .blog-description {
    padding: 0.5rem;
    position: absolute;
    margin-top: 100px;
    background-color: rgba(255,255,255, 0.5);
    backdrop-filter: blur(10px);
  }
  
  .arrow-container {
    width: 100%;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translateY(50%);
  }

  .blog-rotator {
    flex-direction: row;
  }

  .left-arrow {
    display: block;
    transform: rotate(180deg);
  }

  .blog-display-images {
    display: flex;
    display: none
  }

  .blog-display-images.display {
    display: block;
  }

{%endstyle%}

<div class="blog-container">

<div class="arrow-container">
  <span class="arrow left-arrow" id="left-arrow">
    {%- render 'icon-carousel-arrow' -%}
  </span>

  <span class="arrow right-arrow" id="right-arrow">
    {%- render 'icon-carousel-arrow' -%}
  </span>
</div>

<div class="blog-rotator">
  <img id="left-arrow" src=""/>
    {%for blog in blogs.news.articles%}
      <div class="blog-display-images">

        <h2 class="blog-title">{{blog.title}}</h2>

        <p class="blog-description">{{blog.excerpt}}</p>

        <a href="{{blog.url}}">
          <img
          id="{{blog.id}}"
          src="{{blog.image | img_url: 'master'}}">
        </a>

      </div>
    {%endfor%}
</div>

  </div>



<script>
  const rightArrow = document.getElementById('right-arrow');
  const leftArrow = document.getElementById('left-arrow');
  const imagesList = document.getElementsByClassName('blog-display-images');
  imagesList[0].classList.add('display');
  rightArrow.addEventListener('click',()=>{rotator("right")});
  leftArrow.addEventListener('click',()=>{rotator("left")});

  function rotator(direction) {
    const imagesList = document.getElementsByClassName('blog-display-images');
    const currentDisplay = document.getElementsByClassName('blog-display-images display');
    let displayIndex = 0;

    for (let i = 0; i < imagesList.length; i++) {
      if (currentDisplay[0].classList === imagesList[i].classList) {
        displayIndex = i
      }
    }

    if (direction === 'right') {
      let nextDisplayIndex = displayIndex + 1;
      if (nextDisplayIndex === (imagesList.length )) {
        nextDisplayIndex = 0;
      }
      imagesList[displayIndex].classList.remove('display');
      imagesList[nextDisplayIndex].classList.add('display');
    };

    if (direction === 'left') {
      let nextDisplayIndex = displayIndex + - 1;
      if (nextDisplayIndex < 0) {
        nextDisplayIndex = (imagesList.length-1);
      }
      imagesList[displayIndex].classList.remove('display');
      imagesList[nextDisplayIndex].classList.add('display');
    };
    
  };

</script>