{%style%}

.grid-container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.footer-grid-item {
  margin: 2rem;
}

.footer-nav__menu {
  display: flex;
  flex-direction: column;
}
.footer-nav__menu > li {
  padding-top: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.footer-nav__menu > li > a {
  text-decoration: none;
}

.footer-container {
  margin: 0rem 8rem;
}

.ng-item-titles {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  padding-bottom: 2rem;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 2px;
}

.ng-social-div {
  display: grid;
  
  padding-top: 2rem;
}


{%endstyle%}


<div class="footer-container">
  <div class="grid-container-footer">


    <div class="footer-grid-item">
      <h5 class="ng-item-titles">{{section.settings.footer_linklist_title}}</h5>
        <nav class="footer__navigation" role="navigation">
          <ul class="footer-nav__menu">
            {% for link in section.settings.footer_linklist.links %}
              <li class="footer-nav__item">
                <a href="{{ link.url }}" class="footer-nav__link">{{ link.title }}</a>
              </li>
            {% endfor %}
            <div class="ng-social-div">
              <h5 class="ng-item-titles">{{section.settings.footer_linklist_title_second}}</h5>
              <a href="https://www.instagram.com/bike.maze/">Instagram
                <img src="https://cdn.shopify.com/s/files/1/0698/5020/2380/files/icons8-instagram.svg?v=1679140267"/>
              </a>
            </div>
          </ul>
      </nav>
    </div>

    <div class="footer-grid-item">
      <h5 class="ng-item-titles">{{section.settings.footer_pages_title}}</h5>
        <nav class="footer__navigation" role="navigation">
          <ul class="footer-nav__menu">
            {% for link in section.settings.footer_pages.links %}
              <li class="footer-nav__item">
                <a href="{{ link.url }}" class="footer-nav__link">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
      </nav>
    </div>

    {%comment%}
    <div class="grid-item">
      {%- if section.settings.newsletter_element != blank -%}
        <div class="newsletter">
          <span>{{ section.settings.newsletter_title }}</span>
          {{- section.settings.newsletter_element -}}
        </div>
      {%- endif -%}
      {%- if section.settings.footer_socials != blank and linklists[section.settings.footer_socials] -%}
        <div class="socials">
          {%- render 'social-links', socials: linklists[section.settings.footer_socials] -%}
        </div>
      {%- endif -%}
    </div>
  </div>
    {%endcomment%}

  {%comment%}
  <div class="footer__copyrights">
    <small>&copy; {{ 'now' | date: "%Y" }}, {{ section.settings.copyrights }}</small>
  </div>
  {%endcomment%}
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Main Settings"
    },
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "Title",
      "default": "enter title here"
    },
    {
      "type": "text",
      "id": "footer_linklist_title_second",
      "label": "Title",
      "default": "enter title here"
    },
    {
      "type": "link_list",
      "id": "footer_linklist",
      "label": "Menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "footer_pages_title",
      "label": "Title",
      "default": "enter title here"
    },
    {
      "type": "link_list",
      "id": "footer_pages",
      "label": "Menu",
      "default": "footer"
    }
  ]
}
{% endschema %}
