{%- render 'stylesheet', name: 'products-carousel' -%}

{%style%}

.marquee {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.marquee__title {
  color: white;
  display: inline-block;
  animation: animate_marq 40s linear infinite;
  animation-delay: -40s;
}

.marquee__title2 {
  color: white;
  display: inline-block;
  animation: animate_marq_2 40s linear infinite;
  animation-delay: -20s;
}

.marquee__title span {
  padding: 0;
  margin: 0rem 0.5rem;

}

.marquee__title2 span {
  padding: 0;
  margin: 0rem 0.5rem;
}

.secondary-button {
}

.h3 {
  font-weight: 400;
}

.marquee {
  background-color:black;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

@keyframes animate_marq {
    100% {
      transform: translateX(100%);
    }
    0% {
      transform: translateX(-100%);
    }
  }


  @keyframes animate_marq_2 {
    100% {
      transform: translateX(0%);
    }
    0% {
      transform: translateX(-200%);
    }
  }

{%endstyle%}

  <div class="container-max">    
      {% if section.settings.carousel_title != blank %}
        <div class="marquee">
          <div class="marquee__title">
            <span class="h3">
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
            </span>
          </div>

          <div class="marquee__title2">
            <span class="h3">
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
              <span>{{ section.settings.carousel_title }} </span>
            </span>
          </div>
        </div>
      {% endif %}
  </div>


{% schema %}
{
  "name": "Marquee-Right",
  "class": "marquee-right",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "carousel_title",
      "label": "Title",
      "default": "add your text"
    }
  ],

  "presets": [
    {
    "name": "marquee-right",
    "category": "Home Page"
  }
  ]
}
{% endschema %}

{%comment%}
{
    "name": "Products Carousel",
    "category": "Home Page"
  }

  {%endcomment%}