{%- if section.settings.half_image != blank or section.settings.half_video != blank -%}
  {%- render 'stylesheet', name: 'half-media-text' -%}

  {%style%}

  .grid-item.half-image-item {
    height: 500px;
  }

  @media only screen and (max-width: 767px) {
    .ng-box {
    display: grid;
    grid-template-columns: 1fr;
  }


  .half-media-text__link.secondary-button {
    position: absolute;
  }
}

.ng-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ng-box-item-big {
    width:auto;
    height: 600px
  }

  .ng-box-item-small {
    width:auto;
    height: 300px
  }

  .ng-box-nested {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
  }

  {%endstyle%}

  <section class="half-media-text">
    <div class="container-max">
      <div class="grid-container">

      <div class="ng-box">
              <div
                class="ng-box-item-big"
                {% if section.settings.half_image_p %}
                  style="order: {{ section.settings.half_image_p }}"
                {% endif %}
              >
                  {{ section.settings.half_image | image_url: width: section.settings.half_image.width | image_tag: preload: true, class: 'cover', loading: "lazy" }}
              </div>
              <div class="ng-box-nested">
                  <div
                  class="ng-box-item-small"
                  {% if section.settings.half_image_p %}
                    style="order: {{ section.settings.half_image_p }}"
                  {% endif %}
                >
                    {{ section.settings.half_image_2 | image_url: width: section.settings.half_image_2.width | image_tag: preload: true, class: 'cover', loading: "lazy" }}
                </div>

                  <div
                class="ng-box-item-small"
                {% if section.settings.half_image_p %}
                  style="order: {{ section.settings.half_image_p }}"
                {% endif %}
              >
                  {{ section.settings.half_image_3 | image_url: width: section.settings.half_image_3.width | image_tag: preload: true, class: 'cover', loading: "lazy" }}
              </div>
            </div>
        </div>
          {%comment%}
          "grid-item half-image-item half-media-text__media
          {%endcomment%}


            {%- if section.settings.half_b_text != blank -%}
                <div>
                 <a
                  href="{{ section.settings.half_b_url }}"
                  class="half-media-text__link secondary-button"
                  style="--sec-color: {% if section.settings.half_text_color != blank %}{{ section.settings.half_text_color }}{% else %}#fff{% endif %}"
                  >
                    {{- section.settings.half_b_text -}}
                  </a>
                </div>
            {%- endif -%}

      </div>
    </div>
  </section>
{%- endif -%}


{% javascript %}
  // The content from {% javascript %} tags across all sections is concatenated into a single file by Shopify, and then injected into the theme through the content_for_header global Liquid object.
  console.log('https://shopify.dev/themes/architecture/sections/section-assets#javascript')
{% endjavascript %}

{% schema %}
{
  "name": "Two pictures",
  "settings": [
    {
      "type": "header",
      "content": "Media Settings"
    },
    {
      "type": "image_picker",
      "id": "half_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "half_image_2",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "half_image_3",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "half_image_p",
      "options": [
        {
          "value": "2",
          "label": "Right"
        },
        {
          "value": "1",
          "label": "Left"
        }
      ],
      "label": "Image Position alignment",
      "default": "1"
    },
    {
      "type": "text",
      "id": "half_video",
      "label": "Video Url (mp4)"
    },
    {
      "type": "text",
      "id": "half_title",
      "label": "Title"
    },
    {
      "type": "radio",
      "id": "half_title_tag",
      "options": [
        {
          "value": "h2",
          "label": "Style 1"
        },
        {
          "value": "h3",
          "label": "Style 2"
        }
      ],
      "label": "Title Style"
    },
    {
      "type": "richtext",
      "id": "half_text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "half_b_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "half_b_url",
      "label": "Button Url"
    },
    {
      "type": "color",
      "id": "half_text_color",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "half_bg_color",
      "label": "Text Background Color",
      "default": "#fff"
    }
  ],
  "presets": [
    {
      "name": "50/50 Media & Text",
      "category": "Home Page"
    }
  ]
}
{% endschema %}
