{%- if section.settings.half_image != blank or section.settings.half_video != blank -%}
  {%- render 'stylesheet', name: 'half-media-text' -%}

  {%style%}

  .grid-item.half-image-item {
    height: 500px;
  }

  .ng-box {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .ng-box-item-big {
      width:auto;
      height: 600px
    }

    .ng-box-item-small {
      width:auto;
      height: 300px
    }

    .ng-box-nested {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:1fr 1fr;
    }

    .ng-buttons-float {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background: #fff;
    border: 1px solid #000;
    appearance: none;
    position: absolute;
    padding: 1rem 3rem;
    transform: translate(20px, -280px);
    }

  @media only screen and (max-width: 767px) {
  .ng-box {
    grid-template-columns: 1fr;
  }
}

/* Marquee */


.products-marquee__title {
  color: white;
  display: inline-block;
  animation: animate_marq 40s linear infinite;
  animation-delay: -40s;
}

.products-marquee__title2 {
  color: white;
  display: inline-block;
  animation: animate_marq_2 40s linear infinite;
  animation-delay: -20s;
}

.products-marquee__title span {
  padding: 0;
  margin: 0rem 0.5rem;

}

.products-marquee__title2 span {
  padding: 0;
  margin: 0rem 0.5rem;
}

.secondary-button {
}

.h3 {
  font-weight: 400;
}

.marquee {
  background-color:black;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

@keyframes animate_marq {
    100% {
      transform: translateX(100%);
    }
    0% {
      transform: translateX(-100%);
    }
  }


  @keyframes animate_marq_2 {
    100% {
      transform: translateX(0%);
    }
    0% {
      transform: translateX(-200%);
    }
  }


  {%endstyle%}

  <section class="half-media-text">
    <div class="container-max">
      <div class="grid-container">

      <div class="ng-box">
              <a href="/">
              <div
                class="ng-box-item-big"
                {% if section.settings.half_image_p %}
                  style="order: {{ section.settings.half_image_p }}"
                {% endif %}
              >
                  {{ section.settings.half_image | image_url: width: section.settings.half_image.width | image_tag: preload: true, class: 'cover', loading: "lazy" }}
              </div>
              </a>

              <div class="ng-box-nested">
                  <div
                  class="ng-box-item-small"
                  {% if section.settings.half_image_p %}
                    style="order: {{ section.settings.half_image_p }}"
                  {% endif %}
                >
                    {{ section.settings.half_image_2 | image_url: width: section.settings.half_image_2.width | image_tag: preload: true, class: 'cover', loading: "lazy" }}
                    <a  href="{{ section.settings.half_b_url_2 }}" class="ng-buttons-float">{{ section.settings.half_b_text_2 }}</a>
                </div>

                  <div
                class="ng-box-item-small"
                {% if section.settings.half_image_p %}
                  style="order: {{ section.settings.half_image_p }}"
                {% endif %}
              >
                  {{ section.settings.half_image_3 | image_url: width: section.settings.half_image_3.width | image_tag: preload: true, class: 'cover', loading: "lazy" }}
                  <a  href="{{ section.settings.half_b_url }}" class="ng-buttons-float">{{ section.settings.half_b_text }}</a>

              </div>
            </div>
        </div>
          {%comment%}
          "grid-item half-image-item half-media-text__media
          {%endcomment%}


          {%comment%}
            {%- if section.settings.half_b_text != blank -%}
                <div style="margin: 1rem">
                 <a
                  href="{{ section.settings.half_b_url_3 }}"
                  class="half-media-text__link secondary-button"
                  style="--sec-color: {% if section.settings.half_text_color != blank %}{{ section.settings.half_text_color }}{% else %}#fff{% endif %}"
                  >
                    {{- section.settings.half_b_text_3 -}}
                  </a>
                </div>
            {%- endif -%}
          {%endcomment%}
      </div>
    </div>


    
        {% if section.settings.marquee_title != blank %}
        <div class="marquee">
          <div class="products-marquee__title">
            <span class="h3">
              <span>{{ section.settings.marquee_title }} </span>
              <span>{{ section.settings.marquee_title }} </span>
              <span>{{ section.settings.marquee_title }} </span>
              <span>{{ section.settings.marquee_title }} </span>
            </span>
          </div>

          <div class="products-marquee__title2">
            <span class="h3">
              <span>{{ section.settings.marquee_title }} </span>
              <span>{{ section.settings.marquee_title }} </span>
              <span>{{ section.settings.marquee_title }} </span>
              <span>{{ section.settings.marquee_title }} </span>
            </span>
          </div>
        </div>
      {% endif %}



  </section>
{%- endif -%}


{% javascript %}
  // The content from {% javascript %} tags across all sections is concatenated into a single file by Shopify, and then injected into the theme through the content_for_header global Liquid object.
  console.log('https://shopify.dev/themes/architecture/sections/section-assets#javascript')
{% endjavascript %}

{% schema %}
{
  "name": "Two pictures",
  "settings": [
    {
      "type": "header",
      "content": "Media Settings"
    },
    {
      "type": "image_picker",
      "id": "half_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "half_image_2",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "half_image_3",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "half_image_p",
      "options": [
        {
          "value": "2",
          "label": "Right"
        },
        {
          "value": "1",
          "label": "Left"
        }
      ],
      "label": "Image Position alignment",
      "default": "1"
    },
    {
      "type": "text",
      "id": "half_b_text",
      "label": "Button Text",
      "default": "Test 1"
    },
    {
      "type": "url",
      "id": "half_b_url",
      "label": "Button Url"
    },
    {
      "type": "text",
      "id": "half_b_text_2",
      "label": "Button Text",
      "default": "Test 2"
    },
    {
      "type": "url",
      "id": "half_b_url_2",
      "label": "Button Url 2"
    },
    {
      "type": "text",
      "id": "half_b_text_3",
      "label": "Button Text",
      "default": "Test 3"
    },
    {
      "type": "url",
      "id": "half_b_url_3",
      "label": "Button Url 3"
    },
    {
      "type": "text",
      "id": "marquee_title",
      "label": "Marquee Title",
      "default": "marquee"
    }
  ]
}
{% endschema %}
